flask~=1.1.2
flaskwebgui~=0.1.13
xlsx2html~=0.2.2
scikit-learn~=0.22.1
numpy~=1.19.4
pandas~=1.0.1
tensorflow~=2.1.0
tensorflow-gpu~=2.4.1
transformers~=3.4.0
gensim~=3.8.0
nltk~=3.4.5
scipy~=1.4.1
wordfreq~=2.3.2
autocorrect~=2.2.2
xlsxwriter~=1.2.7
torch~=1.7.1
spacy~=2.3.5