<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>form1</title>
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
</head>

<body>
        <!-- Start: Multi step form  ?h=0dcf683c154a4afab54e605136a942cb-->
        <section>
                <div id="multple-step-form-n" class="container overflow-hidden"
                        style="margin-top: 0px;margin-bottom: 10px;padding-bottom: 300px;padding-top: 57px;">
                        <div id="progress-bar-button" class="multisteps-form">
                                <div class="row">
                                        <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                                                <div class="multisteps-form__progress"><a
                                                                class="btn multisteps-form__progress-btn js-active"
                                                                role="button"
                                                                title="User Info">Normalizations&nbsp;</a><a
                                                                class="btn multisteps-form__progress-btn" role="button"
                                                                title="User Info">Transfomers</a><a
                                                                class="btn multisteps-form__progress-btn" role="button"
                                                                title="User Info">classifications&nbsp;</a><a
                                                                class="btn multisteps-form__progress-btn" role="button"
                                                                title="User Info">Filters&nbsp;</a></div>
                                        </div>
                                </div>
                        </div>
                        <div id="multistep-start-row" class="row">
                                <div id="multistep-start-column" class="col-12 col-lg-8 m-auto">
                                        <form id="main-form" class="multisteps-form__form" action="/data" method="post">
                                                <div id="single-form-next"
                                                        class="multisteps-form__panel shadow p-4 rounded bg-white js-active"
                                                        data-animation="scaleIn">
                                                        <h3 class="text-center multisteps-form__title">
                                                                Normalizations<br></h3>
                                                        <div id="form-content" class="multisteps-form__content">
                                                                <div id="input-grp-double" class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-2"
                                                                                                name="sc"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Spelling
                                                                                                correction<br></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-4"
                                                                                                name="html"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">HTML
                                                                                                tags removal<br></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-3"
                                                                                                name="lowercase"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Convert
                                                                                                to lowercase<br></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-1"
                                                                                                name="punctuation"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Punctuation
                                                                                                removal<br></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-5"
                                                                                                name="rc"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Repeated
                                                                                                characters
                                                                                                removal<br></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-8"
                                                                                                name="stopwords"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Stop
                                                                                                words
                                                                                                removal<br></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-7"
                                                                                                name="stem"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Stemming<br></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                class="form-check-input"
                                                                                                type="checkbox"
                                                                                                id="formCheck-6"
                                                                                                name="lem"><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Lemmatizing<br></label>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div id="next-button" class="button-row d-flex mt-4">
                                                                        <button class="btn btn btn-primary ml-auto js-btn-next"
                                                                                type="button" title="Next">Next</button>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div id="single-form-next-prev"
                                                        class="multisteps-form__panel shadow p-4 rounded bg-white"
                                                        data-animation="scaleIn">
                                                        <h3 class="text-center multisteps-form__title">Transfomers</h3>
                                                        <div id="form-content-1" class="multisteps-form__content">
                                                                <div id="input-grp-double-1" class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-9"
                                                                                                name="tf" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">TF<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-12"
                                                                                                name="tfidf" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">TFIDF<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-11"
                                                                                                name="bert" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Bert<br /></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-10"
                                                                                                name="w2v" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Word2Vec<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="d2v" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Doc2Vec<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="elmo" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">Elmo<br /></label>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div id="next-prev-buttons"
                                                                        class="button-row d-flex mt-4"><button
                                                                                class="btn btn btn-primary js-btn-prev"
                                                                                type="button"
                                                                                title="Prev">Prev</button><button
                                                                                class="btn btn btn-primary ml-auto js-btn-next"
                                                                                type="button" title="Next">Next</button>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div id="single-form-next-prev-1"
                                                        class="multisteps-form__panel shadow p-4 rounded bg-white"
                                                        data-animation="scaleIn">
                                                        <h3 class="text-center multisteps-form__title">Classifications
                                                        </h3>
                                                        <div id="form-content-2" class="multisteps-form__content">
                                                                <div id="input-grp-double-2" class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="mlp" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">MLP<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="svc" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">SVC<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="lr" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">LR<br /></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="rf" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">RF<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="mnb" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">MNB<br /></label>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div id="next-prev-buttons-1" class="button-row d-flex mt-4">
                                                                <button class="btn btn btn-primary js-btn-prev"
                                                                        type="button" title="Prev">Prev</button><button
                                                                        class="btn btn btn-primary ml-auto js-btn-next"
                                                                        type="button" title="Next">Next</button></div>
                                                </div>
                                                <div id="single-form-next-prev-2"
                                                        class="multisteps-form__panel shadow p-4 rounded bg-white"
                                                        data-animation="scaleIn">
                                                        <h3 class="text-center multisteps-form__title">Filters</h3>
                                                        <div id="form-content-3" class="multisteps-form__content">
                                                                <div id="input-grp-double-3" class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="chi2" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">CHI^2<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="mir" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">mutual
                                                                                                regression<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="mic" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">mutual
                                                                                                classif<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="fc" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">f
                                                                                                classif<br /></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="rfecv" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">rfecv<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="sfm" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">select
                                                                                                from model<br /></label>
                                                                                </div>
                                                                                <div class="form-check"><input
                                                                                                type="checkbox"
                                                                                                class="form-check-input"
                                                                                                id="formCheck-13"
                                                                                                name="fr" /><label
                                                                                                class="form-check-label"
                                                                                                for="formCheck-1">f
                                                                                                reression<br /></label>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div id="next-prev-buttons-2"
                                                                        class="button-row d-flex mt-4"><button
                                                                                class="btn btn btn-primary js-btn-prev"
                                                                                type="button"
                                                                                title="Prev">Prev</button><button
                                                                                class="btn btn btn-primary ml-auto"
                                                                                type="submit"
                                                                                title="Next">Submit</button></div>
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        </section>
        <!-- End: Multi step form ?h=22d36255dcb2da6f47a2500ae6a13554-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>

</html>