<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>form1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/runFileStyle.min.css') }}">
</head>

<body>
    <!-- Start: Highlight Clean -->
    <div class="highlight-clean">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Run your Experiment</h2>
                <p class="text-center">We want to make it easy for you. If you want to run your experiment click "run"
                    if not press "i hate you"<br></p>
            </div>
            <!-- End: Intro -->
            <!-- Start: Buttons -->

            <div class="buttons"><a class="btn btn-primary" role="button" href="/run">run</a><button
                    class="btn btn-light" type="button">i hate you</button></div>

            <!-- End: Buttons -->
        </div>
    </div>
    <!-- End: Highlight Clean -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/runFilescript.min.js') }}"></script>
</body>

</html>